{{dump(tvs)}}
<h1>Tableau tv</h1>
  
  <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>code</th>
                <th>screen size</th>
                <th>smart</th>
                <th>fabrication date</th>
                <th>Price</th>
                <th>links</th>
            </tr>
        </thead> 
        <tbody>
            {% for tv in tvs %}
                <tr>
                    <td>{{ tv.id }}</td>
                    <td>{{ tv.tvCode }}</td>
                    <td>{{ tv.screenSize }}</td>
                    <td>{{ tv.smarttv }}</td>
                    <td>{{ tv.fabdate|date('d-m-Y')}}</td>
                    <td>{{ tv.price }}</td>
                    <td>
                        <a href="/tv/update/{{ tv.id }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
